# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite3

# Uploads (excluding placeholder images if desired, but good to ignore user uploads)
static/uploads/*
!static/uploads/.gitkeep
